/* Global */

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

#text-style {
    color: #E55473;
}

#text-style.text-style-white {
    color: #FFFFFF;
}

.btn-main {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: .5rem 1rem;
    border: none;
}

.section-title {
    color: #272727;
    font-weight: 800;
}

p {
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

/* Header Section */
header {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    gap: 5%;
    height: 100%;
    width: auto;
    padding: 0 10%;
}

.header-content {
    margin: 10% 0;
}

.header-content>h1 {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}

.header-paragraph-style {
    text-align: left;
}

img {
    height: auto;
    width: 50%;
}

/* Feature Section */
.feature-content {
    text-align: center;
    margin-top: 5%;
}

.feature-gallery-bgcolor1 {
    background-color: rgba(167, 33, 98, 0.15);
}

.feature-gallery-bgcolor2 {
    background-color: rgba(5, 151, 160, 0.15);
}

.feature-gallery-bgcolor3 {
    background-color: rgba(71, 125, 17, 0.15);
}

.feature-gallery {
    display: flex;
    gap: 5%;
    margin: 5% 10% 0 10%;
    text-align: center;
    justify-content: space-around;
}

.feature-gallery img {
    height: 70%;
    width: 350px;
    border: none;
    border-radius: 10em 10em 0 0;
}

.feature-gallery h4 {
    color: #272727;
    font-size: 1em;
    font-weight: 700;
    text-decoration-line: underline;
}


/* Service Section */
.service-section {
    display: flex;
    gap: 10%;
    margin: 0 10% 5% 10%;
    padding: 5%;
    text-align: center;
    justify-content: space-around;
    background-color: rgba(39, 39, 39, 0.05);
}

.service-section img {
    height: auto;
    width: fit-content;
}


.service-section h3 {
    color: rgba(39, 39, 39, 0.80);
    font-size: 1em;
    font-weight: 600;
}

/* Hot Deal Section */

.hot-deal {
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    gap: 10%;
    align-items: center;
    height: 100%;
    width: auto;
    padding: 5% 15%;
}

.hot-deal-content {
    text-align: center;
}

.hot-deal-img {
    height: auto;
    width: 50%;
}

/* Instagram Section */

.social-media {
    margin: 5% 10%;
}

.instagram {
    text-align: center;
    margin-bottom: 5%;
}

.insta-pic {
    display: flex;
    justify-content: space-around;
}

.insta-pic>img {
    height: auto;
    width: 22%;
}

/* Newsletter */
.newsletter {
    background: url('Flower Asset/Rectangle 9.png') no-repeat;
    text-align: center;
    margin-top: 10%;
    padding: 5%;
}

input {
    inline-size: 40%;
    height: 2em;
    border: none;
    border-radius: 0.3em;
}

/* Review section */
.customer-section-title {
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
}

.customer-review-container {
    display: flex;
    gap: 5%;
    justify-content: space-around;
    margin: 3% 10%;
    border-radius: 10px;
    background-color: rgba(39, 39, 39, 0.05);
}

.customer-review {
    height: auto;
    width: 40%;
}

.customer-review p {
    text-align: justify;
}

.review-star-container {
    display: flex;
}

.review-star-container img {
    height: 30px;
    width: 30px;
}

/* Footer */
footer {
    background-color: #111010;
    text-align: center;
    padding: 3% 0;
}

footer>p {
    color: rgba(255, 255, 255, 0.90);
    font-weight: 400;
}

footer>h5 {
    color: rgba(255, 255, 255, 0.40);
    font-weight: 400;
}